body {
    margin: 0;
    padding: 20px;
    min-width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
}

#input-el {
    border: 1px solid blue;
    padding: 5px;
    border-radius: 2px;
}

button {
    margin-top: 30px;
    width: 150px;
    background-color: blue;
    color: aliceblue;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

}


#delete-btn {
    margin-left: 20px;
    background-color: aliceblue;
    color: blue;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
}

a {
    color: blue;
}